<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.mss.droid.lib.hpprint" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.PrintPreview"
            android:label="@string/title_activity_print_preview"
            android:screenOrientation="portrait">
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
